# Môi trường Python và Cache
__pycache__/
*.py[cod]
*$py.class
*.so
venv/
.env

# Models học máy quá lớn
*.h5
*.pt
*.pth
*.onnx

# Bỏ qua tất cả file pkl, joblib ở ngoài, NHƯNG giữ lại trong thư mục models của app
*.pkl
*.joblib
!ted_ai_app/models/*.pkl
!ted_ai_app/models/*.joblib
!ted_ai_app/models/*.txt

# Videos và Media (tránh đẩy lên Git)
*.mp4
*.avi
*.mkv
*.mov
video test input/
ted_ai_app/uploads/

# File thực thi và hệ thống
*.exe
ffmpeg.exe
.DS_Store

# File Data quá nặng
*.csv
